<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<security>
			<requestFiltering allowDoubleEscaping="true"></requestFiltering>
		</security>
        <handlers>
            <add name="fastcgi" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\programdata\anaconda3\python.exe|c:\programdata\anaconda3\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
	<appSettings>
		<!-- Required settings -->
		<add key="WSGI_HANDLER" value="operate_cmd.app" />
		<add key="PYTHONPATH" value="~/" />
	</appSettings>
</configuration>